<div class="row">
  <div class="span4">
  	<h2> about </h2>
  	<p>
  		<%= link_to "fina MIAMI", "http://finamiami.com" %>
	is a collection of aspirants who are dedicated to forging intelligence, nobility and artistry in their lives and the world around them. 
	</p>


  </div>
  <div class="span8">


<h1> a glance into our world </h1>

</div>
</div>

