<div class="center hero-unit">
<h1>fina</h1>
	
	<p>
	Forging: to move forward gradually or steadily; to create a desired shape through heating in a fire and molding object through various processes 
	</p>
	
	<p>	
	Intelligence: the ability to acquire and apply knowledge and skills; wisdom, understanding, reason  
	</p>	
	
	<p>
	Nobility: the quality of being noble in character, mind, birth or rank; priviledged, benevolent, altruistic, grandeur  
	</p>
	
	<p> 
	Artistry: creative skill or ability 
	</p>
	
	<p>
	<%= link_to "Become an Aspirant", new_user_registration_path, class: "btn btn-medium btn-inverse" %>
	</p>

