<div class="center hero-unit">
<h1>fina</h1>
	
	<p>
	Forging: to move forward gradually or steadily; to create a desired shape through heating and molding  
	</p>
	
	<p>	
	Intelligence: the ability to perceive, reason, understand and apply knowledge or skill; wisdom 
	</p>	
	
	<p>
	Nobility: the quality of being noble in character, mind, birth or rank; benevolence, altruistism, grandeur  
	</p>
	
	<p> 
	Artistry: creative skill or ability; those who by virtue of imagination and talent, create works of value 
	</p>
	
	<p>
	<%= link_to "Become an Aspirant", new_user_registration_path, class: "btn btn-medium btn-inverse" %>
	</p>
	<p>
	Aspirant: a person who aspires and has ambitions to achieve
	</p> 
