<h1>Links</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
   </tr>
  </thead>

  <tbody>
    <%= render @links %>
  </tbody>
</table>


<br />

<%= link_to 'New Links', new_link_path %>